*.class

# project logs
logs/
out/
bin/

# jrebel
rebel.xml


# Package Files #
*.jar
*.war
*.ear

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db


# node_modules
node_modules


*.versionsBackup

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


/target/
/.settings/
/.classpath
/.springBeans
/.vscode/
# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
.log

# eclipse ignore
.settings/
.project
.classpath
.factorypath
.springBeans
.pydevproject


# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/.vs
*.user
